<div class="gradient-first">
  <app-navbar></app-navbar>
  <div class="container-fluid text-center p-5 my-5">
  </div>
  <div class="container-fluid text-center p-5 my-5">
    <img src="\assets\images\v393_818.png" class="polar-image" alt=""> 
  </div>
  <div class="container-fluid text-center p-5 my-5">
    <button type="button" class="play-button">{{ 'main-page.play' | translate }}</button>
  </div>
</div>

<div class="desc-wrap desc-frame ">
    <div class="container-fluid desc-header text-center p-5 my-5">
      {{ 'main-page.desc-header1' | translate }}  <br> {{ 'main-page.desc-header2' | translate }}
    </div>
    <div class="container-fluid text-center my-5">
      <p class="desc-body">
        {{ 'main-page.desc-body1' | translate }} <br> 
        {{ 'main-page.desc-body2' | translate }} <br> 
        {{ 'main-page.desc-body3' | translate }}
      <p>
    </div>
</div>

<div class="gradient-second container-fluid p-5">
  <div class="container-fluid text-center p-5 my-5">
  </div>
  <div class="container-fluid text-center p-5 my-5">
    <img src="\assets\images\v320_671.png" class="polytech-image" alt=""> 
  </div>
  <div class="container-fluid text-center p-5 my-5">
    <button type="button" class="download-button" ></button>
  </div>
  <div class="container text-center footer-wrap">
    <div class="row">
      <div class="col">
        <div class="policy-wrap">
        <p>Google play</p> 
        <br>
        <p>Privacy policy</p>
        <p>Terms of service</p>
        <br>
        <p>2021 © Polar</p>
      </div> 
      </div>
      <div class="col text-center">
        <img src="assets\images\polar-logo.png" width="412.1px" height="343.2px" alt="">
      </div>
    </div>
</div>

