.sign-in-button {
    width: 252px;
    height: 56px;
    background: #FFFFFF;
    box-shadow: 0px 0px 16px 2px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
}
.account-header-wrap {
    padding: 50px 50px 0px 50px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 60px;
    color: white;
    text-shadow: 0px 4px 8px rgba(0, 0, 0, 0.35);
}
.form-group {
    padding: 15px;
}
.form-control {
    border: none;
    border-bottom: 2px solid #81BBFF;
    background-color: transparent;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
}
.form-control::placeholder { 
    color: #DDDDDD;
}
.navbar-logo {
    width: 158.5px;
    height: 132.6px;
}
.logo-wrap {
    padding: 25px 50px 0px 150px;
}
.game-wrap {
    font-size: 48px;
    padding: 48px 32px 32px 32px;
    color: white;
}
.news-wrap {
    font-size: 48px;
    padding: 48px 32px 32px 32px;
    color: white;
}
.navbar-nav.me-auto li a {
    color: white;
}
.sign-in-up-button {
    width: 180px;
    height: 80px;
    padding: 48px 32px 32px 32px;
    background-color: transparent;
    background-repeat: no-repeat;
    border: 6px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 16px;
    width: 350px;
    height: 110px;
    padding: 35px;
    font-family: 'Montserrat', sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    color: white;
    line-height: 30px;
    filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.35));
}
.lang-button {
    width: 100px;
    height: 50px;
    border: none;
    padding: 12px;
    background-color: transparent;
    background-repeat: no-repeat;
    box-sizing: border-box;
    padding: 35px;
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    color: white;
    line-height: 30px;
    filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.35));
}
.dropdown-menu {
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    color: white;
    line-height: 30px;
    filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.35));
    background-color: transparent;
    padding: 25px;
    border: none;
}
.dropdown-item {
    padding: 20px;
}
.main-wrap {
    overflow: auto;
    height: 100vh;
    background: radial-gradient(74.93% 109.31% at 14.48% 8.25%, #080D40 0%, #81BBFF 100%);
    box-shadow: 120px 120px 80px -60px rgba(0, 0, 0, 0.35);
}
.account-header-wrap {
    max-width: 100%;
    height: auto;
    width: auto\9;
    padding: 50px 50px 0px 50px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 60px;
    color: white;
    text-shadow: 0px 4px 8px rgba(0, 0, 0, 0.35);
}
.form-group {
    padding: 15px;
}
.form-control {
    max-width: 100%;
    height: auto;
    width: auto\9;
    border: none;
    border-bottom: 2px solid #81BBFF;
    background-color: transparent;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: white;
}
.form-control::placeholder { 
    color: #DDDDDD;
}


