.navbar-logo {
    width: 158.5px;
    height: 132.6px;
}
.logo-wrap {
    padding: 25px 50px 0px 150px;
}
.game-wrap {
    font-size: 48px;
    padding: 48px 32px 32px 32px;
    color: white;
}
.news-wrap {
    font-size: 48px;
    padding: 48px 32px 32px 32px;
    color: white;
}
.navbar-nav.me-auto li a {
    color: white;
}
.sign-in-up-button {
    width: 180px;
    height: 80px;
    padding: 48px 32px 32px 32px;
    background-color: transparent;
    background-repeat: no-repeat;
    border: 6px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 16px;
    width: 350px;
    height: 110px;
    padding: 35px;
    font-family: 'Montserrat', sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    color: white;
    line-height: 30px;
    filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.35));
}
.lang-button {
    width: 100px;
    height: 50px;
    border: none;
    padding: 12px;
    background-color: transparent;
    background-repeat: no-repeat;
    box-sizing: border-box;
    padding: 35px;
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    color: white;
    line-height: 30px;
    filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.35));
}
.dropdown-menu {
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    color: white;
    line-height: 30px;
    filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.35));
    background-color: transparent;
    padding: 25px;
    border: none;
}
.dropdown-item {
    padding: 20px;
}

